# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local configuration
*.local
config.json
credentials.json
secrets.json

# Build files
dist/
dist-ssr/

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln